.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column;
        }
         
}

.header-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
        }

     @media (max-width: 1200px) {
        margin-left: 25px;
        }
}

.icon-wrap {
    display: flex;
    margin-left: 96px;
}

.icon-wrap p {
    text-align: left;
    margin-left: 20px;
}

.logo {
    padding: 20px;
}

.picture-wrap {
    display: flex;
    align-items: center;
}

.header a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
}

.main-text {
    @media (max-width: 767px) {
        display: inline-block;
text-align: left;
        }
}