.more .wrapper {
    padding-top: 75px;
}

.more-wrap {
    display: flex;
}

.info {
    width: 48%;
    margin-left: 40px;
}

.more p {
    font-size: 12px;
    text-align: justify;
}

.video {
    width: 360px;
    height: 213px;
    border-color: 3px solid black;
    margin-left: 87px;
}