.more .wrapper {
    padding-top: 75px;
}

.more-wrap {
    display: flex;
}

.info {
    width: 52%;
    margin-left: 40px;
}

.info-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    display: flex;
// align-items: center;
    text-align: justify;
    padding-right: 30px;
}

.video {
    width: 360px;
    height: 213px;
    border: 2px solid black;
    margin-left: 87px;
}

.read-more {
    font-family: Open Sans;
    font-size: 11px;
    line-height: 15px;
    color: #497952;
    padding-left: 450px;
}

.more a {
    text-decoration: none;
}