*{
    box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #E5E5E5;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  // background-color: rgb(236, 218, 52);
  
  @media (max-width: 767px) {
    max-width: 768px;
    }
  }

  .h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: left;
    color: #535353;

    @media (max-width: 1200px) {
    text-align: center;
      }    
  }

  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
  }